@using N4C.Models
@using N4C.Extensions

@model Result<List<N4CUserResponse>>

@* Generated from N4C Template. *@
@* N4CUserResponse namespace using directive should be added to _ViewImports.cshtml. *@

@{
    var containerDivClass = "container-fluid"; // "container" can be used for no full width
    var list = Model.Culture == Defaults.TR ? "Listesi" : "List";
    var details = Model.Culture == Defaults.TR ? "Detay" : "Details";
    var create = Model.Culture == Defaults.TR ? "Yeni" : "Create";
    var edit = Model.Culture == Defaults.TR ? "Düzenle" : "Edit";
    var delete = Model.Culture == Defaults.TR ? "Sil" : "Delete";
    var excel = Model.Culture == Defaults.TR ? "Excel'e Aktar" : "Export to Excel";
    var activate = Model.Culture == Defaults.TR ? "Etkinleştir" : "Activate";
    var deactivate = Model.Culture == Defaults.TR ? "Etkisizleştir" : "Deactivate";
    var isAuthenticated = User.Identity.IsAuthenticated;
}
@{
    ViewData["Title"] = $"{Model.Title} {list}";
}
<div class="@containerDivClass">
    <partial name="_N4Cmessage" model="Model" />
@if (Model.Data is not null)
{
    <form asp-action="Index" autocomplete="off" id="form">
        <div class="row">
            <div class="col-10">
            </div>
            <div class="col-2 text-end pb-3">
            @if (isAuthenticated)
            {
                <a asp-action="DownloadExcel">@excel</a>
                @:&nbsp;|&nbsp;
                <a asp-action="Create">@create</a>
            }
            </div>
        </div>
        @if (Model.Data.Any())
        {
        <partial name="_N4CpageOrder" model="Model" />
        <table class="table table-bordered table-striped table-hover">
            <thead class="table-secondary">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Data.First().UserName, Model.Culture)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Data.First().Roles_, Model.Culture)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Data.First().Active_Html, Model.Culture)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Data.First().MainFile, Model.Culture)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Data.First().CreateDate_, Model.Culture)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Data.First().UpdateDate_, Model.Culture)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
		        @foreach (var item in Model.Data) {
			    <tr>
				    <td>
					    @Html.Raw(item.UserName)
				    </td>
				    <td>
					    @Html.Raw(item.Roles_)
				    </td>
				    <td>
					    @Html.Raw(item.Active_Html)
				    </td>
                    <td style="width:10%;">
                        @if (item.MainFile.HasNotAny())
                        {
                            <span><i class="bx bx-image" style="font-size:x-large;"></i></span>
                        }
                        else
                        {
                            <a asp-action="Download" asp-controller="Files" asp-route-path="@item.MainFile"><img src="@item.MainFile" class="img-thumbnail" /></a>
                        }
                    </td>   
				    <td>
					    @Html.Raw(item.CreateDate_)
				    </td>
				    <td>
					    @Html.Raw(item.UpdateDate_)
				    </td>
				    <td class="text-end w-25">
                    @if (isAuthenticated)
                    {
                        @if (item.Id != Defaults.SystemId)
                        {
                        @if (!item.Active)
                        {
                        <a asp-action="Activate" asp-route-guid="@item.Guid" asp-route-pageordersession="true">@activate</a>@:&nbsp;|&nbsp;
                        }
                        else
                        {
                        <a asp-action="Deactivate" asp-route-id="@item.Id" asp-route-pageordersession="true">@deactivate</a>@:&nbsp;|&nbsp;
                        }
					    }
                        <a asp-action="Details" asp-route-id="@item.Id">@details</a>@:&nbsp;|&nbsp;
					    <a asp-action="Edit" asp-route-id="@item.Id">@edit</a>
                        @if (item.Id != Defaults.SystemId)
                        {
                        @:&nbsp;|&nbsp;
                        <a href="#" onclick="deleteRecord(@item.Id);">@delete</a>
                        }
                    }
				    </td>
			    </tr>
		        }
            </tbody>
        </table>
        }
    </form>
}
</div>

@section Scripts {
    <partial name="_N4Calertify" model="Model" />
    <partial name="_N4CpageOrderScripts" model="Model" />
}
