@using N4C.Models
@using N4C.Extensions

@model Result<N4CUserRegisterRequest>

@{
    var containerDivClass = "container-fluid"; // "container" can be used for no full width
    var register = Model.Culture == Cultures.TR ? "Kayıt" : "Register";
    var clear = Model.Culture == Cultures.TR ? "Temizle" : "Clear";
}
@{
    ViewData["Title"] = $"{Model.Title} {register}";
}
<div class="@containerDivClass">
    <partial name="_N4Cmessage" model="Model" />
    <form asp-action="Register" autocomplete="off">
		@Html.AntiForgeryToken()
        <div class="row mb-3">
            <displayname asp-for="Data.UserName" asp-culture="@Model.Culture" class="col-2 col-form-label fw-bold"></displayname>
			<div class="col-10">
			    <input asp-for="Data.UserName" name="UserName" class="form-control" />
                <validation asp-for="Data.UserName" asp-culture="@Model.Culture" class="text-danger"></validation>
			</div>
        </div>
        <div class="row mb-3">
            <displayname asp-for="Data.Password" asp-culture="@Model.Culture" class="col-2 col-form-label fw-bold"></displayname>
			<div class="col-10">
                <input asp-for="Data.Password" name="Password" class="form-control password" type="password" />
                <validation asp-for="Data.Password" asp-culture="@Model.Culture" class="text-danger"></validation>
			</div>
        </div>
        <div class="row mb-3">
            <displayname asp-for="Data.ConfirmPassword" asp-culture="@Model.Culture" class="col-2 col-form-label fw-bold"></displayname>
            <div class="col-10">
                <input asp-for="Data.ConfirmPassword" name="ConfirmPassword" class="form-control password" type="password" />
                <validation asp-for="Data.ConfirmPassword" asp-culture="@Model.Culture" class="text-danger"></validation>
            </div>
        </div>
        <div class="row mb-3">
            <div class="offset-2 col-10">
                <partial name="_N4Cpassword" model="true" />
            </div>
        </div>
        <div class="row mb-3">
            <displayname asp-for="Data.Email" asp-culture="@Model.Culture" class="col-2 col-form-label fw-bold"></displayname>
			<div class="col-10">
			    <input asp-for="Data.Email" name="Email" class="form-control" />
                <validation asp-for="Data.Email" asp-culture="@Model.Culture" class="text-danger"></validation>
			</div>
        </div>
        <div class="row mb-3">
            <displayname asp-for="Data.FirstName" asp-culture="@Model.Culture" class="col-2 col-form-label fw-bold"></displayname>
			<div class="col-10">
			    <input asp-for="Data.FirstName" name="FirstName" class="form-control" />
                <validation asp-for="Data.FirstName" asp-culture="@Model.Culture" class="text-danger"></validation>
			</div>
        </div>
        <div class="row mb-3">
            <displayname asp-for="Data.LastName" asp-culture="@Model.Culture" class="col-2 col-form-label fw-bold"></displayname>
			<div class="col-10">
			    <input asp-for="Data.LastName" name="LastName" class="form-control" />
                <validation asp-for="Data.LastName" asp-culture="@Model.Culture" class="text-danger"></validation>
			</div>
        </div>
        <hr />  
        <div class="row mb-3">
			<div class="offset-2 col-10">
                <button type="submit" class="btn btn-primary">@register</button>
				&nbsp;&nbsp;
                <button type="reset" class="btn btn-outline-primary">@clear</button>
			</div>
        </div>
    </form>
</div>