@using N4C.Models
@using N4C.Extensions

@model Result<N4CRoleRequest>

@* Generated from N4C Template. *@
@* N4CRoleRequest namespace using directive should be added to _ViewImports.cshtml. *@

@{
    var containerDivClass = "container-fluid"; // "container" can be used for no full width
    var dateTimePickerClass = "datepicker"; // "datetimepicker" can be used for date with time
    var edit = Model.Culture == Defaults.TR ? "Düzenle" : "Edit";
    var delete = Model.Culture == Defaults.TR ? "Sil" : "Delete";
    var select = Model.Culture == Defaults.TR ? "-- Seçiniz --" : "-- Select --";
    var save = Model.Culture == Defaults.TR ? "Kaydet" : "Save";
    var clear = Model.Culture == Defaults.TR ? "Temizle" : "Clear";
    var backToList = Model.Culture == Defaults.TR ? "Listeye Dön" : "Back to List";
    var mainFileMessage = Model.Culture == Defaults.TR ? "Ana dosya seçilmelidir!" : "Main file must be selected!";
    var isAuthenticated = User.Identity.IsAuthenticated;
}
@{
    ViewData["Title"] = $"{Model.Title} {edit}";
}
<div class="@containerDivClass">
    <partial name="_N4Cmessage" model="Model" />
@if (Model.Data is not null)
{
    <form asp-action="Edit" autocomplete="off" enctype="multipart/form-data">
	    @Html.AntiForgeryToken()
        <div class="row mb-3">
            <displayname asp-for="Data.Name" asp-culture="@Model.Culture" class="col-2 col-form-label fw-bold"></displayname>
	        <div class="col-10">
	            <input asp-for="Data.Name" name="Name" class="form-control" />
		        <validation asp-for="Data.Name" asp-culture="@Model.Culture" class="text-danger"></validation>
	        </div>
        </div>
        <input type="hidden" asp-for="Data.Id" name="Id" />

@* Can be uncommented and used for many to many relationships. Entity must be replaced with the related name in the controller and views. *@
        @*
        <div class="row mb-3">
            <displayname asp-for="Data.{Entity}Ids" asp-culture="@Model.Culture" class="col-2 col-form-label fw-bold"></displayname>
	        <div class="col-10">
		        <select multiple asp-for="Data.{Entity}Ids" name="{Entity}Ids" class="form-select select2" asp-items="ViewBag.{Entity}Ids"></select>
                <validation asp-for="Data.{Entity}Ids" asp-culture="@Model.Culture" class="text-danger"></validation>
	        </div>
        </div>
        *@
        <hr />
        <div class="row mb-3">
	        <div class="offset-2 col-10">
                <button type="submit" class="btn btn-primary">@save</button>
		        &nbsp;&nbsp;
                <button type="reset" class="btn btn-outline-primary">@clear</button>
                &nbsp;&nbsp;
            @if (isAuthenticated)
            {
                <a asp-action="Delete" asp-route-id="@Model.Data.Id">@delete</a>
                @:&nbsp;|&nbsp;
            }
		        <a asp-action="Index" asp-route-session="true">@backToList</a>
	        </div>
        </div>
    </form>
}
</div>

@section Scripts {
    <partial name="_N4Cselect2" />
}
