@using N4C.App
@using N4C.Extensions
@using N4C

@model ProductRequest

@* Generated from N4C Template. *@
@* ProductRequest namespace using directive should be added to _ViewImports.cshtml. *@

@{
    var view = (View?)ViewBag.View;
    var culture = view is null ? Cultures.TR : view.Culture;
    var title = view?.Title;
    var containerDivClass = "container-fluid"; // "container" can be used for no full width
    var dateTimePickerClass = "datepicker"; // "datetimepicker" can be used for date with time
    var edit = culture == Cultures.TR ? "Düzenle" : "Edit";
    var delete = culture == Cultures.TR ? "Sil" : "Delete";
    var select = culture == Cultures.TR ? "-- Seçiniz --" : "-- Select --";
    var save = culture == Cultures.TR ? "Kaydet" : "Save";
    var clear = culture == Cultures.TR ? "Temizle" : "Clear";
    var backToList = culture == Cultures.TR ? "Listeye Dön" : "Back to List";
    var mainFileMessage = culture == Cultures.TR ? "Ana dosya seçilmelidir!" : "Main file must be selected!";
    var isAuthenticated = User.Identity.IsAuthenticated;
    isAuthenticated = true;
}
@{
    ViewData["Title"] = $"{title} {edit}";
}
<partial name="_N4Cexception" />
@if (Model is not null)
{
<div class="@containerDivClass">
    <partial name="_N4Cmessage" />
    <form asp-action="Edit" autocomplete="off" enctype="multipart/form-data">
	    @Html.AntiForgeryToken()
        <div class="row mb-3">
            <displayname asp-for="Name" asp-culture="@culture" class="col-2 col-form-label fw-bold"></displayname>
	        <div class="col-10">
	            <input asp-for="Name" class="form-control" />
		        <validation asp-for="Name" asp-culture="@culture" class="text-danger"></validation>
	        </div>
        </div>
        <div class="row mb-3">
            <displayname asp-for="UnitPrice" asp-culture="@culture" class="col-2 col-form-label fw-bold"></displayname>
	        <div class="col-10">
	            <input asp-for="UnitPrice" class="form-control" />
		        <validation asp-for="UnitPrice" asp-culture="@culture" class="text-danger"></validation>
	        </div>
        </div>
        <div class="row mb-3">
            <displayname asp-for="StockAmount" asp-culture="@culture" class="col-2 col-form-label fw-bold"></displayname>
	        <div class="col-10">
	            <input asp-for="StockAmount" class="form-control" />
		        <validation asp-for="StockAmount" asp-culture="@culture" class="text-danger"></validation>
	        </div>
        </div>
        <div class="row mb-3">
            <displayname asp-for="ExpirationDate" asp-culture="@culture" class="col-2 col-form-label fw-bold"></displayname>
	        <div class="col-10">
		        <input asp-for="ExpirationDate" class="form-control @dateTimePickerClass" type="text" />
		        <validation asp-for="ExpirationDate" asp-culture="@culture" class="text-danger"></validation>
	        </div>
        </div>
        <div class="row mb-3">
            <displayname asp-for="CategoryId" asp-culture="@culture" class="col-2 col-form-label fw-bold"></displayname>
            <div class="col-10">
	            <select asp-for="CategoryId" class="form-select select2" asp-items="ViewBag.CategoryId">
		            <option value="">@select</option>
	            </select>
	            <validation asp-for="CategoryId" asp-culture="@culture" class="text-danger"></validation>
            </div>
        </div>
        <div class="row mb-3">
            <displayname asp-for="MainFormFile" asp-culture="@culture" class="col-2 col-form-label fw-bold"></displayname>
            <div class="col-10">
                <input asp-for="MainFormFile" class="form-control mainfile" type="file" />
                <input asp-for="_MainFile" type="hidden" class="mainfilehidden" />
                <span class="text-danger mainfilemessage"></span>
            </div>
        </div>
        <div class="row mb-3">
            <displayname asp-for="OtherFormFiles" asp-culture="@culture" class="col-2 col-form-label fw-bold"></displayname>
            <div class="col-10">
                <input asp-for="OtherFormFiles" class="form-control otherfiles" type="file" multiple />
            </div>
        </div>
        <input type="hidden" asp-for="Id" />

@* Can be uncommented and used for many to many relationships. Entity must be replaced with the related name in the controller and views. *@
        
        <div class="row mb-3">
            <displayname asp-for="StoreIds" asp-culture="@culture" class="col-2 col-form-label fw-bold"></displayname>
	        <div class="col-10">
		        <select multiple asp-for="StoreIds" class="form-select select2" asp-items="ViewBag.StoreIds"></select>
                <validation asp-for="StoreIds" asp-culture="@culture" class="text-danger"></validation>
	        </div>
        </div>
       
        <hr />
        <div class="row mb-3">
	        <div class="offset-2 col-10">
                <button type="submit" class="btn btn-primary">@save</button>
		        &nbsp;&nbsp;
                <button type="reset" class="btn btn-outline-primary">@clear</button>
                &nbsp;&nbsp;
            @if (isAuthenticated)
            {
                <a asp-action="Delete" asp-route-id="@Model.Id">@delete</a>
                @:&nbsp;|&nbsp;
            }
		        <a asp-action="Index" asp-route-session="true">@backToList</a>
	        </div>
        </div>
    </form>
</div>
}

@section Scripts {
    <partial name="_N4CdateTimePicker" />
    <script>
        $(function () {
            $('button[type="submit"]').click(function (event) {
                if ($('.otherfiles').val() && !($('.mainfilehidden').val() || $('.mainfile').val())) {
                    event.preventDefault();
                    $('.mainfilemessage').text('@Html.Raw(mainFileMessage)');
                }
            });
        });
    </script>
    <partial name="_N4Cselect2" />
}
